<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Fabric</key>
    <dict>
        <key>APIKey</key>
        <string>2a79a2a1fc16fb55c6823aef21857660f91716c1</string>
        <key>Kits</key>
        <array>
            <dict>
                <key>KitInfo</key>
                <dict/>
                <key>KitName</key>
                <string>Crashlytics</string>
            </dict>
        </array>
    </dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SalonMaker</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1650815138286939</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.722397632055-s87b9tdaaf782pf0jg0pecrgu719m3lr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>SalonMaker</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.0.5</string>
	<key>FacebookAppID</key>
	<string>1650815138286939</string>
	<key>FacebookDisplayName</key>
	<string>SalonMalker</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>fb</string>
		<string>comgooglemaps</string>
		<string>morefunhouse</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>拍照或錄影需要使用您的相機功能，請允許App存取您的相機</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>您的位置資訊將使用在查看設計師列表，用於顯示您與該設計師的距離，及服務當天使用打卡功能；請允許App存取您的位置資訊，獲得更好的服務體驗</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>您的位置資訊將使用在查看設計師列表，用於顯示您與該設計師的距離，及服務當天使用打卡功能；請允許App存取您的位置資訊，獲得更好的服務體驗</string>
	<key>NSLocationUsageDescription</key>
	<string>您的位置資訊將使用在查看設計師列表，用於顯示您與該設計師的距離，及服務當天使用打卡功能；請允許App存取您的位置資訊，獲得更好的服務體驗</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>您的位置資訊將使用在查看設計師列表，用於顯示您與該設計師的距離，及服務當天使用打卡功能；請允許App存取您的位置資訊，獲得更好的服務體驗</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>錄影需要使用您的麥克風功能，請允許App存取您的麥克風</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>上傳照片或影片需要使用您的相簿功能，請允許App存取您的相簿</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>上傳照片或影片需要使用您的相簿功能，請允許App存取您的相簿</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SalonMakerLaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Login</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_heTjv11TYCNfd5XAcw7ZHdjoAyo8yNTF</string>
		<key>test</key>
		<string>key_test_pjUiwX0U4DIle37FpRjGdmabEsfZvJHN</string>
	</dict>
</dict>
</plist>
